<div class="politics-container">

  <h3>Politicas de privacidad</h3>

  <br>

  <div>
    <b>1.Responaable del tratamiento</b> <br>
    <p>
      Responsable del Tratamiento: GEO ALTERNATIVA, S.L. (en adelante, “GEOAL” o “Responsable”) <br>
      N.I.F.: B87382644 <br>
      Domicilio postal: Calle Antonio Maura, 18, 2º B, 28014 - Madrid <br>
      Datos de Registro: Registro Mercantil de Madrid, tomo 33.907, folio 69, sección 8, hoja M-610164. <br>
      Contacto Delegado de Protección de Datos (DPD): En la dirección postal arriba indicada o por correo electrónico: dpo@geoalternativa.es <br>
    </p>
  </div>

  <div>
    <b>2. Obligatoriedad de facilitar los datos y responsabilidad del usuario</b> <br>
    <p>
      Todos los datos personales solicitados, incluida la dirección IP así como los datos de navegación, son obligatorios (salvo que en el campo requerido se especifique lo contrario) para cumplir con las finalidades establecidas, no siendo posible el registro en el Sitio Web sin facilitarnos los datos completos, sin perjuicio de que el usuario podrá visualizar libremente el contenido del Sitio Web.
      <br>
      Asimismo, cuando los datos personales sean recabados a través de formularios que se puedan habilitar en el Sitio Web con motivo de las actividades del mismo, será necesario que el usuario aporte, al menos, aquellos marcados con un asterisco(*), ya que, si no se suministrasen esos datos considerados necesarios, no podremos aceptar y gestionar el servicio web o consulta formulada.
      <br>
      El usuario garantiza que es mayor de catorce (14) años y que los datos aportados son verdaderos, exactos, completos y actualizados, comprometiéndose a notificar a GEOAL cualquier tipo de modificación que se produzca en los datos que haya facilitado.
      <br>
      En todo caso, la contratación de los productos y servicios ofrecidos en el Sitio Web quedará limitada exclusivamente a usuarios mayores de dieciocho (18) años.
      <br>
      Por último, debe tenerse en cuenta que el número de consultas efectuadas por cada usuario a través del Sitio Web podrá limitarse por parte de GEOAL con el objetivo de evitar un número de consultas masivas que pueda suponer una utilización desproporcionada de dicho servicio, suponer un problema de seguridad para la plataforma y el resto de los usuarios o un uso fraudulento de la información y los recursos de GEOAL.
    </p>
  </div>

  <div>
    <b>3. Finalidades y bases de legitimación</b> <br>

    <div class="table-container">

      <table border="1">
        <thead>
          <tr class="head-row-uno">
            <th>FINALIDAD</th>
            <th>LEGITIMACIÓN</th>
            <th>TIPOLOGÍA DATOS PERSONALES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="3">Fase Tarificación</th>
          </tr>
          <tr>
            <td>Gestionar y tramitar la tarifa</td>
            <td>Ejecución de medidas precontractuales</td>
            <td rowspan="4">Nombre y apellidos, DNI, Teléfono, e-mail, Dirección postal, CUPS.</td>
          </tr>
          <tr>
            <td>Realizar encuestas de calidad y opinión, en fase tarificación	</td>
            <td>Interés legítimo</td>
          </tr>
          <tr>
            <td>Envío de comunicaciones comerciales de productos y servicios de GEOAL</td>
            <td>Consentimiento</td>
          </tr>
          <tr>
            <td>Envío de comunicaciones comerciales por parte de GEOAL de productos y servicios de terceros</td>
            <td>Consentimiento</td>
          </tr>
          <tr>
            <th colspan="3">Fase Contratación</th>
          </tr>
          <tr>
            <td>Formalizar y ejecutar el contrato de servicios</td>
            <td>Ejecución contractual</td>
            <td rowspan="6">Nombre y apellidos, DNI, Teléfono, e-mail, Dirección postal, CUPS.</td>
          </tr>
          <tr>
            <td>Realización de comprobaciones y consultas a ficheros de solvencia y blanqueo de capitales</td>
            <td>Cumplimiento de obligaciones legales</td>
          </tr>
          <tr>
            <td>Realizar encuestas de calidad y opinión, en fase tarificación</td>
            <td>Interés legítimo</td>
          </tr>
          <tr>
            <td>Envío de comunicaciones comerciales de productos y servicios de GEOAL</td>
            <td>Interés legítimo</td>
          </tr>
          <tr>
            <td>Envío de comunicaciones comerciales por parte de GEOAL de productos y servicios de terceros</td>
            <td>Consentimiento</td>
          </tr>
          <tr>
            <td>Consulta ficheros de consumo</td>
            <td>Interés legítimo y cumplimiento obligaciones legales</td>
          </tr>
        </tbody>
      </table>

    </div>

    <p>
      Los datos personales que tratamos a través del Sitio Web y/o Canal telefónico, únicamente serán utilizados para las siguientes finalidades, diferenciado el tipo de usuario. <br>
      Si el usuario no es cliente; es decir, es un cliente potencial o un usuario que navega por la web: <br>
      Gestionar y tramitar el presupuesto solicitado y llevar a cabo el contacto, por medios electrónicos, redes sociales o mediante atención telefónica posterior, para poder continuar con la contratación del producto y prestarle la ayuda que necesite para completar su proceso de contratación o informarle sobre el producto a contratar por el usuario. <br>
      La base de legitimación es la formalización, ejecución y gestión del producto a contratar solicitado por el usuario (artículo 6.1.b RGPD). Dichos datos son necesarios para que podamos ofrecer una tarifa acorde con la situación real de éste, así como para la prestación del servicio a contratar de acuerdo con el cumplimiento de obligaciones legales, conforme al artículo 6.1.c RGPD. <br>
      Realizar encuestas de satisfacción calidad u opinión. <br>
      La base de legitimación es el interés legítimo para controlar la calidad de los servicios y evaluar la satisfacción de sus clientes potenciales y clientes, GEOAL podrá dirigirse al usuario, por cualquier medio o canal que éste nos haya autorizado, para solicitarle su valoración sobre los productos y servicios ofertados y/o adquiridos y la realización de análisis de esta información para la mejora de los servicios. Este tratamiento responde a la necesidad de adaptar nuestra operativa y los productos y servicios ofertados a las preferencias y expectativas del usuario con el compromiso de aumentar la calidad del servicio prestado, por lo que es necesario conocer su opinión. En cualquier momento, podrá rechazar dar su valoración, así como comunicar su oposición a ser contactado con esta finalidad. <br>
      Gestionar el envío de comunicaciones comerciales sobre productos y servicios de GEOAL, por medio de los diferentes canales de comunicación a disposición, incluso por vía telefónica, electrónica o telemática, sobre productos, servicios, promociones, ofertas, campañas de fidelización, eventos, noticias, recomendaciones o comunicados de los productos comercializados por GEOAL, así como cualesquier otras actuaciones con carácter comercial (incluida la elaboración de un perfil comercial para tal fin). <br>
      La base de legitimación es el consentimiento otorgado por el usuario para el envío de comunicaciones comerciales a través de correo postal, correo electrónico, teléfono, SMS u otros medios electrónicos equivalentes, en este sentido, la propia Ley de Sociedad de Servicios de Información (en adelante, la “LSSI”) permite a GEOAL el envío de comunicaciones comerciales referentes a productos o servicios de su propia empresa que sean similares a los que inicialmente fueron objeto de contratación con el cliente. En todo momento éste podrá revocar su consentimiento para el tratamiento de sus datos para dicha finalidad, de forma gratuita, y en cada comunicación electrónica realizada, el usuario podrá darse de baja para dejar de recibir este tipo de comunicaciones. Asimismo, en el apartado “Derechos” de la presente Política se describe el modo de solicitar la baja de este tipo de comunicaciones. <br>
      Gestionar el envío de comunicaciones comerciales por parte de GEOAL de terceras entidades, previamente identificadas para el usuario, y con las que el GEOAL haya suscrito algún tipo de contrato de colaboración empresarial. Los terceros con los que GEOAL ha suscrito un acuerdo. <br>
      La base de legitimación es el consentimiento otorgado por el usuario para el envío de comunicaciones comerciales a través de correo postal, correo electrónico, teléfono, SMS u otros medios electrónicos equivalentes. En este sentido, la propia Ley de Sociedad de Servicios de Información (en adelante, la “LSSI”) permite al prestador el envío de comunicaciones comerciales referentes a productos o servicios de terceras entidades, debidamente identificadas, con las que GEOAL tenga suscrito un contrato de colaboración empresarial. En todo momento el usuario podrá revocar el consentimiento previamente otorgado para el tratamiento de sus datos para esta finalidad, de forma gratuita, y en cada comunicación electrónica realizada podrá darse de baja para dejar de recibir este tipo de comunicaciones. Asimismo, en el apartado “Derechos” de la presente Política se describe el modo de solicitar la baja de este tipo de comunicaciones. <br>
      Si el usuario es cliente de GEOAL <br>
      Formalizar y gestionar el producto contratado por el cliente, llevar a cabo el mantenimiento de la relación contractual, tramitar o dar seguimiento a cualquier solicitud de su producto o referente a nuevas contrataciones por cualquier medio (electrónicos, redes sociales o telefónicos), así como la atención y gestión de quejas y reclamaciones. <br>
      La base de legitimación es la formalización, ejecución y gestión del producto a contratar solicitado por el usuario cliente (artículo 6.1.b RGPD). Todos los datos que facilite en la contratación y a lo largo de su relación con GEOAL son necesarios para la formalización y gestión de su contrato y los servicios asociados. Dichos datos son necesarios para que podamos ofrecer una tarifa acorde con la situación real de dicho cliente, así como para la prestación del servicio a contratar de acuerdo con el cumplimiento de obligaciones legales, conforme al artículo 6.1.c RGPD y el artículo 8.1 de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y Garantía de los Derechos Digitales. <br>
      Realizar verificaciones y comprobaciones que permitan evaluar el posible fraude y la prevención de blanqueo de capitales y financiación del terrorismo, así como la consulta de datos de solvencia relativos al Cliente que, en su caso, figuren en ficheros sobre solvencia patrimonial y crédito o en ficheros relativos al cumplimiento o incumplimiento de obligaciones dinerarias. <br>
      La base de legitimación es el interés legítimo de GEOAL de valorar la solvencia económica del usuario, así como la posible admisión como cliente o, en caso dado, la comunicación de los datos a sistemas de información crediticia, así como para prevenir el fraude y el blanqueo de capitales y evitar prácticas anómalas que puedan provocar perjuicios económicos y reputacionales. <br>
      Adicionalmente, existe una habilitación legal recogida en los artículos 6.1.c. del RGPD y del artículo 20.1.e de la LOPGDD bajo la cual concede a los acreedores que prestan un servicio de facturación periódica, como es nuestro caso, tratar estos datos de información crediticia. <br>
      Igualmente, en cumplimiento de las obligaciones exigidas en la Ley 10/2010, de 28 de abril, de prevención del blanqueo de capitales y de la financiación del terrorismo, GEOAL tendrá que comunicar los datos personales del cliente a organismos como el Banco de España, SEPBLAC, entre otros. <br>
      Realizar encuestas de satisfacción calidad u opinión. <br>
      La base de legitimación es el interés legítimo para controlar la calidad de los servicios y evaluar la satisfacción de sus clientes, GEOAL podrá dirigirse al usuario y/o cliente, por cualquier medio o canal para solicitarle su valoración sobre los productos y servicios ofertados y/o adquiridos y la realización de análisis de esta información para la mejora de los servicios. Este tratamiento responde a la necesidad de adaptar nuestra operativa y los productos y servicios ofertados a las preferencias y expectativas del cliente con el compromiso de aumentar la calidad del servicio prestado, por lo que es necesario conocer su opinión. En cualquier momento, el usuario podrá rechazar dar su valoración, así como comunicar su oposición a ser contactado con esta finalidad. <br>
      Gestionar el envío de comunicaciones comerciales sobre productos y servicios de GEOAL, por medio de los diferentes canales de comunicación a disposición, incluso por vía telefónica, electrónica o telemática, sobre productos, servicios, promociones, ofertas, campañas de fidelización, eventos, noticias, recomendaciones o comunicados de los productos comercializados por GEOAL, así como cualesquiera otras actuaciones con carácter comercial (incluida la elaboración de un perfil comercial para tal fin). <br>
      La base de legitimación es el interés legítimo de GEOAL para el envío de comunicaciones comerciales a través de correo postal, correo electrónico, teléfono, SMS u otros medios electrónicos equivalentes, en este sentido, la propia Ley de Sociedad de Servicios de Información (en adelante, la “LSSI”) permite al prestador el envío de comunicaciones comerciales referentes a productos o servicios de su propia empresa que sean similares a los que inicialmente fueron objeto de contratación con el cliente. <br>
      En todo momento, el usuario y/o cliente podrá oponerse al tratamiento de sus datos para esta finalidad, de forma gratuita, y en cada comunicación electrónica realizada podrá darse de baja para dejar de recibir este tipo de comunicaciones. Asimismo, en el apartado “Derechos” de la presente Política se describe el modo de solicitar la baja de este tipo de comunicaciones. <br>
      Igualmente, GEOAL en base al interés legítimo, al amparo del artículo 6.1.f del RGPD, se ha realizado una ponderación de los derechos fundamentales del interesado (derecho a la protección de datos personales, derecho al honor y a la intimidad personal y familiar) y el propio interés legítimo de GEAOL, concluyendo que tales derechos no quedan afectados. Consideramos además que, como potencial cliente, éste tiene una expectativa razonable para poder enviarle información comercial que puede ser de interés, en base a su perfil de cliente, sin que con ello se produzca una actuación invasiva de sus derechos e intereses. Se procede a la elaboración de un perfil basado en sus características personales y la información obtenida de las acciones como usuario y, especialmente, la adquisición de productos. La información relativa al perfil será tratada de forma segura y confidencial, siendo procesados únicamente en los sistemas que analizan la información obtenida de forma automatizada. <br>
      Por otra parte, el usuario y/o cliente podrá, en cualquier momento, manifestar su voluntad de no ser objeto del presente tratamiento, ejercitando su derecho de oponerse al mismo. <br>
      Gestionar el envío de comunicaciones comerciales por parte de GEOAL de terceras entidades, previamente identificadas para el usuario, y con las que el Prestador haya suscrito algún tipo de contrato de colaboración empresarial. <br>
      La base de legitimación es el consentimiento otorgado por el usuario para el envío de comunicaciones comerciales a través de correo postal, correo electrónico, teléfono, SMS u otros medios electrónicos equivalentes. <br>
      En todo momento podrá revocar su consentimiento previamente otorgado para el tratamiento de sus datos para esta finalidad, de forma gratuita, y en cada comunicación electrónica realizada podrá darse de baja para dejar de recibir este tipo de comunicaciones. Asimismo, en el apartado “Derechos” de la presente Política se describe el modo de solicitar la baja de este tipo de comunicaciones.
      Gestionar la consulta de datos de fuentes externas sobre consumo y sobre las características de sus puntos de suministro. <br>
      La base de legitimación es el cumplimiento de obligación legal de la normativa del sector energético, como la Ley 24/213, de 26 de diciembre, del Sector Eléctrico y el Real Decreto 1435/2002, de 27 de diciembre, por el que se regulan las condiciones básicas de los contratos de adquisición de energía y de acceso a las redes en baja tensión, así dar debido cumplimiento del Código de la Energía Eléctrica de contratar el acceso a las redes con la Empresa Distribuidora, realizar las gestiones que resulten necesarias para el buen fin del suministro, intercambiar información con la Empresa Distribuidora para poder facturar tu consumo energético o atender requerimientos de la Comisión Nacional de los Mercados y la Competencia.
    </p>
  </div>

</div>
