.yellow {
  background-color: orange;
}

.red {
  background-color: red;
}

.container {
  margin-top: 10px;
  margin-bottom: 20px;
  /* font-family: 'Montserrat', sans-serif; */
}

.underline {
  text-decoration: underline;
}

p {
  font-size: 14px;
  text-align: justify;
  margin-top: 5px;
  line-height: 22px;
}

.lista {
  font-size: 14px;
  line-height: 22px;
  padding-left: 20px;
}

.aviso {
  margin-top: 50px;
}
